.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;

    color: aliceblue;

}
.dialogsItems{
    padding: 10px;


}
.dialogsItems .active{
    color: gold;

}
.dialog{
    color: aliceblue;


}
.messages{
     padding: 10px;


}
.message{

}